name: Compact Contracts Test Suite

env:
  TURBO_TELEMETRY_DISABLED: 1
  CI: "true"

on:
  pull_request:
    paths-ignore:
      - "**.md"
      - ".gitignore"
      - "biome.json"
      - "turbo.json"
  push:
    branches:
      - main
    paths-ignore:
      - "**.md"
      - ".gitignore"
      - "biome.json"
      - "turbo.json"

jobs:
  run-suite:
    name: Run Test Suite
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    timeout-minutes: 15

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - name: Check out code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0 # Recommended by turbo team with --affected flag
          filter: "blob:none"

      - name: Ensure main branch is up to date, and exists locally
        if: github.ref != 'refs/heads/main'
        run: git rev-parse --verify main || git remote set-branches origin main && git fetch --depth 1 origin main && git branch main origin/main

      - name: Setup Environment
        uses: ./.github/actions/setup

      - name: Compile contracts
        run: turbo compact --cache-dir=.turbo --affected

      - name: Run type checks
        run: turbo types --cache-dir=.turbo --affected

      - name: Run tests
        run: turbo test --cache-dir=.turbo --affected
