name: Compact Contracts Test Suite

on:
  pull_request:
    paths-ignore:
      - "**.md"
      - ".gitignore"
      - "biome.json"
      - "turbo.json"
  push:
    branches:
      - main
    paths-ignore:
      - "**.md"
      - ".gitignore"
      - "biome.json"
      - "turbo.json"

env:
  TURBO_TELEMETRY_DISABLED: 1

jobs:
  run-suite:
    name: Run Test Suite
    runs-on: ubuntu-24.04
    timeout-minutes: 15

    env:
      COMPACT_INSTALLER_URL: ${{ vars.COMPACT_INSTALLER_URL }}

    steps:
      - name: Check out code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 2 # Recommended by turbo team

      - name: Setup Environment
        uses: ./.github/actions/setup

      - name: Compile contracts
        run: turbo compact --filter=@openzeppelin/compact-contracts

      - name: Run type checks
        run: turbo types

      - name: Run tests
        run: turbo test
